# SERVER CONFIG
VITE_SERVER_ROOT_ROUTE=prism-api
SERVER_PORT=8000
SERVER_HOST=127.0.0.1
JWT_KEY=
# Generate keys with `deno task keygen` while in the server workspace

# DATABASE CONFIG
DB_HOST=192.168.10.100
DB_PORT=1433
DB_USER=prism-backend
DB_PASSWORD=my-secret-password
DB_NAME=prism

# EMAILER CONFIG
VITE_EMAIL_DOMAIN=enterprise.com
SENDER_EMAIL_USER="WEBFORM"
SENDER_EMAIL_LOCAL_PART=webform_admin
SMTP_SERVER_ADDR=enterprise.relay.com
SMTP_SERVER_PORT=2222
SMTP_SERVER_USER=relay-username
SMTP_SERVER_PASS=relay-password
SMTP_SERVER_REQUIRE_SECURE=true
SMTP_TESTER_LOCAL_PART=

# COMPANY CONFIG
COMPANY_LEGAL_NAME="PT Foxconn Technologies Indonesia"
COMPANY_TRADE_NAME="Foxconn Technologies Indonesia"

# GENERAL APP CONFIG
CLIENT_URL=http://127.0.0.1:4173
ATTACHMENTS_DIR_ABSOLUTE=/var/www/prism/prism-server/attachments
VITE_FALLBACK_ATTACHMENT_URL=https://old.server.com/old_app
VITE_SUPERVISORS_NRP='{"approver":["002162R"],"releaser":["002162R","000032R","000066R"],"administrator":["000308"]}'
BUILD_DEST=/var/www/prism
SSO_KEY=