COMPANY_LEGAL_NAME="PT Foxconn Technologies Indonesia"
COMPANY_TRADE_NAME="Foxconn Technologies Indonesia"
VITE_SERVER_ROOT_ROUTE=prism-api
SSO_KEY=
DB_PORT=1433
DB_HOST=192.168.10.100
DB_USER=prism-backend
DB_PASSWORD=my-secret-password
DB_NAME=prism
SERVER_PORT=8000
SERVER_HOST=127.0.0.1
CLIENT_URL=http://127.0.0.1:4173
JWT_KEY=
SENDER_EMAIL_USER="WEBFORM"
SENDER_EMAIL_ADDR=webform_admin@enterprise.com
SMTP_SERVER_ADDR=enterprise.relay.uk
SMTP_SERVER_PORT=2222
SMTP_SERVER_USER=relay-username
SMTP_SERVER_PASS=relay-password
SMTP_SERVER_REQUIRE_SECURE=true
BUILD_DEST=/var/www/prism