BUILD_DEST=/var/www/prism
VITE_SERVER_ROOT_ROUTE=prism-api
SSO_KEY=
DB_PORT=1433
DB_HOST=192.168.10.100
DB_USER=prism-backend
DB_PASSWORD=my-secret-password
DB_NAME=prism
SERVER_PORT=8000
SERVER_HOST=127.0.0.1
CLIENT_URL=http://127.0.0.1:4173
JWT_KEY=
SENDER_EMAIL_USER=prism
SENDER_EMAIL_ADDR=prism@gmail.com
SENDER_EMAIL_PASS=my-secret-password